@using IpGeolocationBlazor.Components.Layout
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4 d-flex justify-content-end bg-light py-2 shadow-sm">
            <a href="https://ipstack.com" target="_blank" class="link-primary">About ipstack</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>